<head>
    
    <style type="text/css">
    <!--
    body {
      color:#000000;
      background-color:#FFFFFF;
      background-image:url('Background Image');
      background-repeat:no-repeat;
    }
    a  { color:#0000FF; }
    a:visited { color:#800080; }
    a:hover { color:#008000; }
    a:active { color:#FF0000; }
	
	.container {
		display: flex;
        width: 100%;
		justify-content: space-between;
		 	}
		
	.thumbnail {
		width: 220px;
		height: 380px;
		 }
	
	.title {
	font-family:sans-serif;
	color: red;
	font-size:20px;
	text-align:center;
 		}
		
	.text-container {
	width:220px;
	height: 400px;
     }
    -->
    </style>
    
  </head>
  <body>
  
  <div class="container">
  	   <div>
  	   		<img class="thumbnail" src="http://comics.panini.it/store/media/catalog/product/cache/80/small_image/9df78eab33525d08d6e5fb8d27136e95/M/O/MOMIG012ISBN_0.jpg">
	   		<h1 class="title">X-Men</h1>
	   	   			<div class="text-container">
	   	   				 <p>Worried about the situation in which the mutants are, Storm talks with Logan to try and distract herself. In the middle of their conversation, they are interrupted by Forge, who reports that Cerebra detected the sudden appearance of six hundred new mutant signatures in Tokyo.</p>
	   				</div>
	   </div>
  	   <div>
	   		<img class="thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/61gSRiYJznL._SX328_BO1,204,203,200_.jpg">
			<h1 class="title">BEAST</h1>
					<div class="text-container">
	   	   				 <p>Henry 'HANK' McCoy was born and raised in Dunfee, Illinois, the son of Norton and Edna McCoy. His father worked at a nuclear power plant where he was exposed to massive amounts of radiation during an accident.</p>
					</div>	  
			</div>
  		<div>
  	   		<img class="thumbnail" src="https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/6764/MAR041664._SX360_QL80_TTD_.jpg">
			<h1 class="title">Ultimate X-Men</h1>
					<div class="text-container">
	   	   				 <p>The Ultimates vs. the Ultimate X-Men: the battle begins. When the X-Men do the worst thing they could to humanity, the government orders Captain America, Iron Man, Thor and the rest of the Ultimates to bring them down.</p>
					</div>	  
		</div>
  		<div>
			 <img class="thumbnail" src="https://vignette.wikia.nocookie.net/marveldatabase/images/3/3d/Logan_%28film%29_poster_003.jpg/revision/latest/scale-to-width-down/338?cb=20170127090323">
			 <h1 class="title">Logan</h1>
					<div class="text-container">
	   	   				 <p>Logan's life was originally thought to be identical to that of the primary iteration of the Wolverine; however, there has been new evidence released contradicting this, such as the fact that he recalled fighting in the War of 1812 while the Logan of Earth-616 was allegedly born during the 1880s.</p>
					</div>	
		</div>
  </div>
  
  <div class="container">
  	   <div>
	   		<img class="thumbnail" src="https://vignette.wikia.nocookie.net/marvelvscapcom/images/5/5e/Magneto.png/revision/latest/scale-to-width-down/317?cb=20110720195237">
			<h1 class="title">Magneto</h1>
					<div class="text-container">
	   	   				 <p>Professor Xavier's original team of X-Men thwarted Magneto's first act of genetic terrorism in his war with humanity, the takeover of the Cape Citadel missile base. When they next clashed, Magneto overthrew the government of Santo Marco, setting himself up as absolute ruler, and was leading his original Brotherhood of Evil Mutants.</p>
					</div>	
		</div>
  	   <div>
	   		<img class="thumbnail" src="https://vignette.wikia.nocookie.net/marveldatabase/images/5/51/Lockjaw_Vol_1_1_Textless.jpg/revision/latest/scale-to-width-down/335?cb=20171122020841">
	   		<h1 class="title">Lockjaw</h1>
					<div class="text-container">
	   	   				 <p>The massive dog known as Lockjaw is the loyal pet of the Royal Family of the Inhumans, an offshoot of humanity that was genetically altered by the Kree centuries ago whose isolation in the hidden city of Attilan resulted in the development of a high technological society with a focus on genetics.</p>
					</div>
	   </div>
  	   <div>
	   		<img class="thumbnail" src="https://upload.wikimedia.org/wikipedia/en/a/ad/Iceman_%28Bobby_Drake%29.png">
			<h1 class="title">Iceman</h1>
					<div class="text-container">
	   	   				 <p>Xavier sent Scott Summers (Cyclops) to recruit Bobby. After Bobby turned him down, the two mutants got into a brief scuffle before the mob caught up with them. The mob was stringing Scott and Bobby up to be hanged when Professor X used his telepathic abilities to erase their memories.</p>
					</div>
	   </div>
  	   <div>
	   		<img class="thumbnail" src="https://vignette.wikia.nocookie.net/deathbattlefanon/images/5/54/Colossus_Portrait_Art.png/revision/latest/scale-to-width-down/300?cb=20160214210531">
	   		<h1 class="title">Colossus</h1>
					<div class="text-container">
	   	   				 <p>After a transformed Piotr rescued his sister Illyana from a runaway tractor, he was contacted by Professor Charles Xavier, founder of the X-Men, when Professor Xavier was organising a new team of mutant X-Men to help him rescue the original X-Men from the sentient island of Krakoa.</p>
					</div>
	   </div>
  </div>
  
  
  </body>

